@font-face {
  font-family: Segoe UI;
  src: url("../res/fonts/Segoe UI.ttf"),
       url("../res/fonts/Segoe UI Bold.ttf"),
       url("../res/fonts/Segoe UI Bold Italic.ttf"),
       url("../res/fonts/Segoe UI Italic.ttf");
}

:root {
  --white: #FFF;
  --main-white: #F5F6F8;
  --neutral-grey: #EFF0F2;
  --light-grey: #F5F6F8;
  --darker-grey: #939393;
  --dark-grey: #7A7A7A;
  --main-accent: #39BAEB;
  --ms-btn-color: #36C7FE;
  --me-btn-color: #428CA5;
}

/*Utils*/
.h-55 {
  height: 55%;
}

.h-35 {
  height: 35%;
}

.h-20 {
  height: 20%;
}

.w-95 {
  width: 95%;
}

br-7 {
  border-radius: 7px;
}

.off-bg {
  background-color: var(--neutral-grey);
}

.light-bg {
  background-color: var(--white);
}

.body {
  font-family: "Segoe UI", sans-serif;
}

.section {
  height: 100vh;
}

.section-hero, .section-hero a {
  color: var(--main-white);
}

.section-hero {
  background-image: url("../img/background-img.png");

}

/* Drawing */
.oval {
  border: 2px solid var(--neutral-grey);
  border-radius: 30px;
  width: 32px;
  height: 62px;
}

.line {
  border: 1px solid var(--neutral-grey);
  border-radius: 30px;
  width: 0px;
  height: 15px;
  margin-left: 7px;
  margin-top: 5px;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-top: 10px;
}

.dot-light {
  background-color: var(--light-grey);
}

.dot-darker {
  background-color: var(--darker-grey);
}

.dot-dark {
  background-color: var(--dark-grey);
}
