/* Fonts */
@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Semibold");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic");
}

:root {
  --white: #FFF;
  --main-white: #F5F6F8;
  --neutral-grey: #EFF0F2;
  --light-grey: #F5F6F8;
  --darker-grey: #939393;
  --dark-grey: #7A7A7A;
  --main-accent: #39BAEB;
  --ms-btn-color: #36C7FE;
  --me-btn-color: #428CA5;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

p {
  margin: 0 !important;
}

/*Utils*/
.h-55 {
  height: 55%;
}

.h-35 {
  height: 35%;
}

.h-20 {
  height: 20%;
}

.w-95 {
  width: 95%;
}

.br-10 {
  border-radius: 10px;
}

.off-bg {
  background-color: var(--neutral-grey);
}

.light-bg {
  background-color: var(--white);
}

body {
  font-family: "Segoe UI", sans-serif !important;
}

/* Buttons */
.btn-primary {
  background: linear-gradient(90deg, var(--ms-btn-color) 0%, var(--me-btn-color) 100%) 0;
  border: 1px solid var(--main-white);
  font-weight: bold;
  font-size: 12px;
  padding: .7rem 1rem;
}

.btn-primary:hover {
  background: var(--white);
  border: 1px solid var(--main-accent);
  color: var(--main-accent);
  font-weight: bold;
  font-size: 12px;
  padding: .7rem 1rem;
}

/* Navbar */
.navbar-brand {
  color: var(--main-accent) !important;
}

.custom-toggler {
  color: var(--main-white)
}

.section {
  height: 100vh;
}

.section-hero, .section-hero a {
  color: var(--main-white);
}

.section-hero {
  background-image: url("../img/background-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.custom-toggler.navbar-toggler {
  border-color: var(--main-white);
}

/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url(
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Drawing */

.drawing {
  margin-bottom: 6rem;
}

.oval {
  border: 2px solid var(--neutral-grey);
  border-radius: 30px;
  width: 32px;
  height: 62px;
}

.line {
  border: 1px solid var(--neutral-grey);
  border-radius: 30px;
  width: 0px;
  height: 15px;
  margin-left: 7px;
  margin-top: 5px;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-top: 10px;
}

.dot-light {
  background-color: var(--light-grey);
}

.dot-darker {
  background-color: var(--darker-grey);
}

.dot-dark {
  background-color: var(--dark-grey);
}

/*Assistant Cards */
.packages {
  width: 90%;
  margin: auto;
}

.card-name {
  color: var(--main-accent);
}

.card-role {
  font-weight: bold;
}

.card-reviews p, .card-name {
  font-weight: lighter;
}

.assistant-cards {
  position: relative;
  width: 50rem;
  right: 6rem;
}

.card-skills {
  height: 20vh;
}

.card-skill {
  font-size: 12px;
  text-align: center;
  border: 2px solid var(--main-accent);
  border-radius: 30px;
  padding: .5rem .5rem;
}

/* Testimonials */
.section-pre-title {
  font-weight: bold;
  color: var(--main-accent);
  padding-bottom: 4rem;
}

.section-title {
  font-weight: lighter;
}

.testimonial-name, .testimonial-text, .section-pre-title, .section-title {
  text-align: center;
}

.testimonial-name {
  font-size: 22px;
  padding-bottom: 1rem;
}

.testimonial-text {
  color: var(--dark-grey);
}

.testimonial-image {
  width: 8rem;
  margin-bottom: 1rem;
}

/* Packages */
.package {
  height: 50vh;
}

.package-title {
  font-weight: bolder;
  font-size: 26px;

}

.price {
  font-weight: bolder;
  font-size: 24px;
}

.dollar-sign {
  font-size: 16px;
}

.footer {
  border-top: 2px solid var(--light-grey);
}

.form-btn {
  width: auto;
  margin: auto;
}

.ty-section {
  height: 100vh;
  width: 60%;
  margin: auto;
}

.ty-container {
  background: var(--neutral-grey);
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem;
  color: #000000;
}

.ty-container a {
  color: #36C7FE;
}

/* Media queries */
@media only screen and (max-width: 1400px) {
  h1, h2, h3, h4 {
    text-align: center;
  }

  .sec2, .sec3, .sec4 {
    height: 120vh;
  }

  .assistant-card-area {
    flex-direction: column-reverse;
  }

  .assistant-card-area-title {
    text-align: center;
  }

  .assistant-card {
    width: auto;
  }

  .assistant-cards {
    width: auto;
    position: static;
    justify-content: center;
    align-items: center;
  }

  .card-area-2 {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .sec1 {
    height: 110vh;
  }
}

@media only screen and (max-width: 992px) {
  .sec1 {
    height: 110vh;
  }

  .sec2 {
    height: 130vh;
  }

  .sec3 {
    height: 270vh;
  }

  .sec5, .sec6 {
    height: 150vh;
  }

  .hero {
    height: 40%;
  }

  .hero-text {
    text-align: center;
  }

  .drawing-area {
    display: none !important;
  }

  .assistant-card-area {
    display: flex;
    flex-direction: row;
  }

  .assistant-card {
    margin-top: 2rem;
    height: 30rem;
  }

  .card-skills {
    height: auto;
  }

  .card-area-1 {
    order: 2;
    margin-bottom: 0;
  }

  .card-area-2 {
    order: 1;
    margin-bottom: 0;
  }

  .footer-address {
    display: none;
  }

  .footer-social-icon {
    margin: .5rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .sec2 {
    height: 160vh;
  }

  .sec3 {
    height: 300vh;
  }

  .sec5 {
    height: 200vh;
  }

  .sec6 {
    height: 270vh;
  }

  .assistant-card-area {
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 576px) {
  .sec4 {
    height: 210vh;
  }
}
